
@font-face {
    font-family: 'eurosans_proregular';
    src: url('fonts/eurosanspro-reg-webfont.eot');
    src: url('fonts/eurosanspro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/eurosanspro-reg-webfont.woff2') format('woff2'),
         url('fonts/eurosanspro-reg-webfont.woff') format('woff'),
         url('fonts/eurosanspro-reg-webfont.ttf') format('truetype'),
         url('fonts/eurosanspro-reg-webfont.svg#eurosans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


%sanchez {
  font-family: 'sanchez_regularregular';
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'queulat_cndregular';
    src: url('fonts/queulatcnd-regular-webfont.woff2') format('woff2'),
         url('fonts/queulatcnd-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



%queulat {
  font-family: 'queulat_cndregular';
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'casperregular';
    src: url('fonts/casper-webfont.eot');
    src: url('fonts/casper-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/casper-webfont.woff2') format('woff2'),
         url('fonts/casper-webfont.woff') format('woff'),
         url('fonts/casper-webfont.ttf') format('truetype'),
         url('fonts/casper-webfont.svg#casperregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


%casper-regular {
  font-family: 'casperregular';
  font-weight: normal;
  font-style: normal;
}




@font-face {
    font-family: 'tikal_sans_mediummedium';
    src: url('fonts/tikalsans-medium-webfont.eot');
    src: url('fonts/tikalsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tikalsans-medium-webfont.woff2') format('woff2'),
         url('fonts/tikalsans-medium-webfont.woff') format('woff'),
         url('fonts/tikalsans-medium-webfont.ttf') format('truetype'),
         url('fonts/tikalsans-medium-webfont.svg#tikal_sans_mediummedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

%tikal_sans_mediummedium {
  font-family: 'tikal_sans_mediummedium';
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: 'adria_groteskregular';
    src: url('fonts/adriagrotesk-regular-webfont.eot');
    src: url('fonts/adriagrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adriagrotesk-regular-webfont.woff2') format('woff2'),
         url('fonts/adriagrotesk-regular-webfont.woff') format('woff'),
         url('fonts/adriagrotesk-regular-webfont.ttf') format('truetype'),
         url('fonts/adriagrotesk-regular-webfont.svg#adria_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
%adria_groteskregular {
  font-family: 'adria_groteskregular';
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'signika_negativelight';
    src: url('fonts/signikanegativelight-webfont.eot');
    src: url('fonts/signikanegativelight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/signikanegativelight-webfont.woff2') format('woff2'),
         url('fonts/signikanegativelight-webfont.woff') format('woff'),
         url('fonts/signikanegativelight-webfont.ttf') format('truetype'),
         url('fonts/signikanegativelight-webfont.svg#signika_negativelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

%signika_negativelight {
  font-family: 'signika_negativelight';
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: 'tikal_sans_mediumMdIt';
    src: url('fonts/tikalsans-mediumitalic-webfont.eot');
    src: url('fonts/tikalsans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tikalsans-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/tikalsans-mediumitalic-webfont.woff') format('woff'),
         url('fonts/tikalsans-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/tikalsans-mediumitalic-webfont.svg#tikal_sans_mediumMdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}
%tikal_sans_mediumMdIt {
  font-family: 'tikal_sans_mediumMdIt';
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'dual300';
    src: url('fonts/dual-300-webfont.eot');
    src: url('fonts/dual-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dual-300-webfont.woff2') format('woff2'),
         url('fonts/dual-300-webfont.woff') format('woff'),
         url('fonts/dual-300-webfont.ttf') format('truetype'),
         url('fonts/dual-300-webfont.svg#dual300') format('svg');
    font-weight: normal;
    font-style: normal;

}

%dual300 {
  font-family: 'dual300';
  font-weight: normal;
  font-style: normal;
}
