.about {
  @extend %vertical-center-flex;
  @extend %signika_negativelight;
  letter-spacing: 0.06em;
  height: 100vh;
  &-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    max-width: $max-width - 100px;
    color: white;
  }
  p {
    margin: 60px auto;
    opacity: 0;
    line-height: 1.8em;
  }
  a {
    color: white;
    border-bottom: 1px solid $link-underline-color;
    text-decoration: none;
  }
}