.cta {
  @extend %vertical-center-flex;
  @extend %signika_negativelight;
  letter-spacing: 0.06em;
  height: 100vh;
  &-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    max-width: $max-width - 100px;
    color: white;
  }
  p, a {
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
    opacity: 0;
  }

  &__button {
    display: inline-block;
    background-color: darken($bg-anchor-color, 5);
    max-width: 200px;
    width: 50%;
    border-radius: 4px;
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:hover {
      background-color: darken($bg-anchor-color, 10);
    }
  }
}

