#pt {
  width: 100vw; 
  height: 100vh;
  // filter: blur(1px);
  position: fixed;
  top: 0;
  z-index: -1;
  // -webkit-backface-visibility: hidden;
  // -webkit-perspective: 1000;
  // -webkit-transform: translate3d(0,0,0);
  // -webkit-transform: translateZ(0);
  // backface-visibility: hidden;
  // perspective: 1000;
  // transform: translate3d(0,0,0);
  // transform: translateZ(0);
  // filter: blur(14px);
  // @for $i from 1 through 12 {
  //   &.filter-#{$i} {
  //     filter: blur(#{$i + 'px'})
  //   }
  // }
}

#mouse {
  position: fixed;
  left: 50%;
  top: 0;
  // transition: transform 2s;
}

#hero-scroll-area {
  height: 100vh;
}

@include resp_maxw(768px) {
  #pt, #mouse {
    position: absolute;
  }
}