
.intro {
  @extend %vertical-center-flex;
  @extend %adria_groteskregular;
  text-align: center;

  color: $primaryTextColor;
  height: 100vh;
  z-index: 100;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  .scroll-invitation {
    position: static;
    margin: 0 auto;
    transform: none;
    margin-top: 25px;
  }

  &__brand, &__description {
    opacity: 0;
    // margin-right: 20px;
    letter-spacing: 0.06em;
    display: block;
    position: relative;
    transition: opacity 1s ease, transform 1s ease;
    .intro--brand-showing & {
      opacity: 1;
    }
  }

  &__brand {
    transform: translateY(-100vh);
    .intro--brand-showing & {
      transform: none;
    }
  }
  &__description {
    @extend %signika_negativelight;
    transform: translateY(100vh);
    .intro--brand-showing & {
      transform: none;
    }
  }

  &__icons__links {
    margin-top: 100px;
    text-align: center;
    a {
      text-decoration: none;
      display: inline-block;
      opacity: 0;
      width: 15%;
    }
    .fa {
      margin-bottom: 30px;
      color: $text-grey;
      max-width: 150px;
      &:not(:last-child) {
        width: 15%;
      }
    }
    svg {
      height: 42px;
      width: 51%;
      rect {
        fill: $text-grey !important;
      }
      path {
        fill: grey !important;
      }
    }
  }

  &__icons__text {
    opacity: 0;
    font-size: 14px;
    letter-spacing: 0.08em;
    @extend %casper-regular;
    letter-spacing: 0.053m;
    color: lighten($text-grey, 15);
    transition: opacity 1s .5s ease;
    display: block;
    &.showing {
      opacity: 0.8;
    }
  }
}


@include resp_maxw(545px) {
  .intro__icons__links a {
    width: 25%;
  }
}