body#portfolio {
  height: 100vh;
}



.portfolio {
  width: 92%;
  color: white;
  max-width: 1000px;
  margin: 150px auto 30px;
  height: 80vh;
  h4, h3 {
    @extend %adria_groteskregular;
    display: inline-block;
    font-size: 28px;
  }
  &__project {
    letter-spacing: 0.055em;
    @extend %vertical-center-flex;
    @extend %signika_negativelight;
    ul {
      font-size: 16px;
      margin-bottom: 50px;
    }
    li {
      line-height: 25px;
    }
    a {
      // float: right;
      @extend .cta__button;
      padding: 5px 10px;
      color: white;
      text-align: center;
      text-decoration: none;
      max-width: 100px;
    }
  }
  &__project__links {
    max-width: 300px;
    width: 40%;
    display: inline-block;
    float: right;
    margin-top: 35px;
  }
  img {
    width: 100%;
    max-width: 764px;
    margin: 0 auto;
  }
}

.games{
  @extend %vertical-center-flex;
  h3, h4 {
    display: block;
  }
  &__sample {
    width: 32%;
    display: inline-block;
    text-align: center;
    h3, h4 {
      margin: 0 auto;
      font-size: 20px;
    }
    img {
      width: 100%;
    }
    a {
      margin: 10px auto;
      font-size: 13px;
      width: 30%;
      padding: 5px 0px;
    }
  }
}

.slick {

  &-arrows-wrapper {
    position:relative;
    top: -50vh;
  }

  &-slide {
    margin: 0 40px;
  }

  &-dots {
    position: static !important;
  }


  &-next, &-prev {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    &__arrow {
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      height: 15px;
      width: 15px;
    }
  }

  &-next {
    right: 10px;
    &__arrow {
      transform: translate(100%, 100%) rotate(-135deg);
    }
  }
  &-prev {
    left: 10px;
    &__arrow {
      transform: translate(100%, 100%) rotate(45deg);
    }
  }
  &-dots {
    margin-top: 25px;
    li {
      transform-origin: center;
      // transform: scale(5);
      margin: 15px;
      width: 15px;
      button:before {
        width: 10px;
      }
    }
  }
}


.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    background-color: black;
    border-radius: 100%;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include resp_maxw(545px) {
  .portfolio {
    h4, h3 {
      margin: 0 auto;
    }
    &__project {
      text-align: center;
      ul {
        text-align: left;
        margin: 0 40px 30px 10px;
      }
      a {
        width: 34%;
        &:not(:last-child) {
          margin-right: 13%;
        }
        &:last-child {
          float: right;
        }

      }
    }
    &__project__links {
      float: none;
      display: block;
      margin: 20px auto;
      width: 95%;
    }
  }
  .slick-slide {
    margin: 0;
  }

  .games__sample {
    width: 100%;
    max-height: 31%;
    overflow: hidden;
    &__links {
      width: 40%;
      margin-left: 10%;
      float: left;
      display: inline-block;
    }
    a:not(:last-child), a:last-child {
      display: block;
      float: left;
      width: 100%;
      margin-right: 0;
    }
    img {
      width: 40%;
      float: right;
    }
  }
}
