body#portfolio {
  height: 100vh;
}



.portfolio {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  width: 85%;
  color: white;
  max-width: 1000px;
  margin: 150px auto 30px;
  height: 80vh;
  h4, h3 {
    @extend %adria_groteskregular;
    display: inline-block;
    font-size: 28px;
  }
  &__project {
    letter-spacing: 0.055em;
    @extend %vertical-center-flex;
    @extend %signika_negativelight;
    ul {
      font-size: 16px;
      margin-bottom: 50px;
    }
    li {
      line-height: 25px;
    }
    a {
      color: white;
      border-bottom: 1px solid $link-underline-color;
      text-decoration: none;
      &:hover {
        border-color: darken($link-underline-color, 10);
      }
    }
    #smyte-link {
      float: right;
    }
  }

  &__project__links {
    max-width: 300px;
    width: 70%;
    display: inline-block;
    float: right;
    margin-top: 35px;
    a {
      @extend .cta__button;
      padding: 5px 10px;
      color: white;
      text-align: center;
      text-decoration: none;
      max-width: 100px;
    }
  }
  img {
    width: 100%;
    max-width: 764px;
    margin: 0 auto;
  }
  &.showing {
    opacity: 1;
    transform: translateY(-100px);
  }
}

.games{
  @extend %vertical-center-flex;
  h3, h4 {
    display: block;
  }
  &__sample {
    width: 32%;
    display: inline-block;
    text-align: center;
    h3, h4 {
      margin: 0 auto;
      font-size: 20px;
    }
    img {
      width: 100%;
    }
    a {
      @extend .cta__button;
      margin: 10px auto;
      font-size: 13px;
      width: 30%;
      padding: 5px 0px;
      color: white;
      text-decoration: none;
    }
  }
}

.slick {

  &-arrows-wrapper {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    top: -50vh;
  }

  &-slide {
    margin: 0 30px !important;
  }

  &-dots {
    position: static !important;
  }


  &-next, &-prev {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
  }

  &-next {
    right: 10px;
  }
  &-prev {
    left: 10px;
  }


  &-dots {
    margin-top: 25px;
    li {
      transform-origin: center;
      // transform: scale(5);
      margin: 15px;
      width: 15px;
      button:before {
        width: 10px;
      }
    }
  }
}


.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    background-color: black;
    border-radius: 100%;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@include resp_maxw(885px) {
  .portfolio {
    h4, h3 {
      margin: 0 auto;
    }
    &__project {
      text-align: center;
      ul {
        text-align: left;
        margin: 0 40px 30px 10px;
      }
      a {
        width: 34%;
        &:not(:last-child) {
          margin-right: 13%;
        }
      }
    }
    &__project__links {
      float: none;
      display: block;
      margin: 20px auto;
      width: 95%;
    }
    #smyte-link {
      float: none;
    }
  }
  .slick-slide {
    margin: 0 4px !important;
  }

  .games h4 {
    margin-bottom: 10px;
  }
  .games__sample {
    width: 100%;
    max-height: 31%;
    overflow: hidden;

    &-wrapper {
      display: flex;
      justify-content: center;
      div {
        width: 40%;
      }
    }
    &__links {
      margin-right: 2em;
      max-width: 200px;
      width: 25% !important;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    a:not(:last-child), a:last-child {
      display: block;
      float: left;
      width: 100%;
      margin-right: 0;
    }
  }
}



@include resp_maxw(628px) {
  .slick-next, .slick-prev {
    display: none !important;
  }


}
