@charset "UTF-8";
@font-face {
  font-family: 'eurosans_proregular';
  src: url("fonts/eurosanspro-reg-webfont.eot");
  src: url("fonts/eurosanspro-reg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/eurosanspro-reg-webfont.woff2") format("woff2"), url("fonts/eurosanspro-reg-webfont.woff") format("woff"), url("fonts/eurosanspro-reg-webfont.ttf") format("truetype"), url("fonts/eurosanspro-reg-webfont.svg#eurosans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'queulat_cndregular';
  src: url("fonts/queulatcnd-regular-webfont.woff2") format("woff2"), url("fonts/queulatcnd-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'casperregular';
  src: url("fonts/casper-webfont.eot");
  src: url("fonts/casper-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/casper-webfont.woff2") format("woff2"), url("fonts/casper-webfont.woff") format("woff"), url("fonts/casper-webfont.ttf") format("truetype"), url("fonts/casper-webfont.svg#casperregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.intro__icons__text {
  font-family: 'casperregular';
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tikal_sans_mediummedium';
  src: url("fonts/tikalsans-medium-webfont.eot");
  src: url("fonts/tikalsans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tikalsans-medium-webfont.woff2") format("woff2"), url("fonts/tikalsans-medium-webfont.woff") format("woff"), url("fonts/tikalsans-medium-webfont.ttf") format("truetype"), url("fonts/tikalsans-medium-webfont.svg#tikal_sans_mediummedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'adria_groteskregular';
  src: url("fonts/adriagrotesk-regular-webfont.eot");
  src: url("fonts/adriagrotesk-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/adriagrotesk-regular-webfont.woff2") format("woff2"), url("fonts/adriagrotesk-regular-webfont.woff") format("woff"), url("fonts/adriagrotesk-regular-webfont.ttf") format("truetype"), url("fonts/adriagrotesk-regular-webfont.svg#adria_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.intro, .portfolio h4, .portfolio h3 {
  font-family: 'adria_groteskregular';
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signika_negativelight';
  src: url("fonts/signikanegativelight-webfont.eot");
  src: url("fonts/signikanegativelight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/signikanegativelight-webfont.woff2") format("woff2"), url("fonts/signikanegativelight-webfont.woff") format("woff"), url("fonts/signikanegativelight-webfont.ttf") format("truetype"), url("fonts/signikanegativelight-webfont.svg#signika_negativelight") format("svg");
  font-weight: normal;
  font-style: normal; }
.intro__description, .about, .cta, .portfolio__project {
  font-family: 'signika_negativelight';
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tikal_sans_mediumMdIt';
  src: url("fonts/tikalsans-mediumitalic-webfont.eot");
  src: url("fonts/tikalsans-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/tikalsans-mediumitalic-webfont.woff2") format("woff2"), url("fonts/tikalsans-mediumitalic-webfont.woff") format("woff"), url("fonts/tikalsans-mediumitalic-webfont.ttf") format("truetype"), url("fonts/tikalsans-mediumitalic-webfont.svg#tikal_sans_mediumMdIt") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dual300';
  src: url("fonts/dual-300-webfont.eot");
  src: url("fonts/dual-300-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/dual-300-webfont.woff2") format("woff2"), url("fonts/dual-300-webfont.woff") format("woff"), url("fonts/dual-300-webfont.ttf") format("truetype"), url("fonts/dual-300-webfont.svg#dual300") format("svg");
  font-weight: normal;
  font-style: normal; }
.intro, .about, .cta, .portfolio__project, .games {
  display: flex;
  flex-direction: column;
  justify-content: center; }

body {
  margin: 0; }
  body.portfolio {
    background-color: #fff; }
  body.index {
    background-color: grey; }

#pt {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1; }

#mouse {
  position: fixed;
  left: 50%;
  top: 0; }

#hero-scroll-area {
  height: 100vh; }

@media all and (max-width: 545px) {
  #pt, #mouse {
    position: absolute; } }
.intro {
  text-align: center;
  color: white;
  height: 100vh;
  z-index: 100;
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }
  .intro__brand, .intro__description {
    opacity: 0;
    letter-spacing: 0.06em;
    display: block;
    position: relative;
    transition: opacity 1s ease, transform 1s ease; }
    .intro--brand-showing .intro__brand, .intro--brand-showing .intro__description {
      opacity: 1; }
  .intro__brand {
    transform: translateY(-100vh); }
    .intro--brand-showing .intro__brand {
      transform: none; }
  .intro__description {
    transform: translateY(100vh); }
    .intro--brand-showing .intro__description {
      transform: none; }
  .intro__icons__links {
    margin-top: 100px;
    text-align: center; }
    .intro__icons__links a {
      text-decoration: none;
      display: inline-block;
      opacity: 0;
      width: 15%; }
    .intro__icons__links .fa {
      margin-bottom: 30px;
      color: #e6e6e6;
      max-width: 150px; }
      .intro__icons__links .fa:not(:last-child) {
        width: 15%; }
    .intro__icons__links svg {
      height: 42px;
      width: 51%; }
      .intro__icons__links svg rect {
        fill: #e6e6e6 !important; }
      .intro__icons__links svg path {
        fill: grey !important; }
  .intro__icons__text {
    opacity: 0;
    font-size: 14px;
    letter-spacing: 0.08em;
    letter-spacing: 0.053m;
    color: white;
    transition: opacity 1s .5s ease;
    display: block; }
    .intro__icons__text.showing {
      opacity: 0.8; }

@media all and (max-width: 545px) {
  .intro__icons__links a {
    width: 25%; } }
.about {
  letter-spacing: 0.06em;
  height: 100vh; }
  .about-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    max-width: 600px;
    color: white; }
  .about p {
    margin: 60px auto;
    opacity: 0;
    line-height: 1.8em; }
  .about a {
    color: white;
    border-bottom: 1px solid #09f7e5;
    text-decoration: none; }

.cta {
  letter-spacing: 0.06em;
  height: 100vh; }
  .cta-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    max-width: 600px;
    color: white; }
  .cta p, .cta a {
    text-decoration: none;
    color: inherit;
    padding: 10px 0;
    opacity: 0; }
  .cta__button, .portfolio__project a {
    display: inline-block;
    background-color: #80b2e9;
    max-width: 200px;
    width: 50%;
    border-radius: 4px; }
    .cta__button:not(:last-child), .portfolio__project a:not(:last-child) {
      margin-right: 40px; }
    .cta__button:hover, .portfolio__project a:hover {
      background-color: #6aa4e6; }

@media all and (max-width: 545px) {
  .cta a {
    display: block;
    margin: 30px auto !important;
    width: 100%; } }
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

body#portfolio {
  height: 100vh; }

.portfolio {
  width: 92%;
  color: white;
  max-width: 1000px;
  margin: 150px auto 30px;
  height: 80vh; }
  .portfolio h4, .portfolio h3 {
    display: inline-block;
    font-size: 28px; }
  .portfolio__project {
    letter-spacing: 0.055em; }
    .portfolio__project ul {
      font-size: 16px;
      margin-bottom: 50px; }
    .portfolio__project li {
      line-height: 25px; }
    .portfolio__project a {
      padding: 5px 10px;
      color: white;
      text-align: center;
      text-decoration: none;
      max-width: 100px; }
  .portfolio__project__links {
    max-width: 300px;
    width: 40%;
    display: inline-block;
    float: right;
    margin-top: 35px; }
  .portfolio img {
    width: 100%;
    max-width: 764px;
    margin: 0 auto; }

.games h3, .games h4 {
  display: block; }
.games__sample {
  width: 32%;
  display: inline-block;
  text-align: center; }
  .games__sample h3, .games__sample h4 {
    margin: 0 auto;
    font-size: 20px; }
  .games__sample img {
    width: 100%; }
  .games__sample a {
    margin: 10px auto;
    font-size: 13px;
    width: 30%;
    padding: 5px 0px; }

.slick-arrows-wrapper {
  position: relative;
  top: -50vh; }
.slick-slide {
  margin: 0 40px; }
.slick-dots {
  position: static !important; }
.slick-next, .slick-prev {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer; }
  .slick-next__arrow, .slick-prev__arrow {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 15px;
    width: 15px; }
.slick-next {
  right: 10px; }
  .slick-next__arrow {
    transform: translate(100%, 100%) rotate(-135deg); }
.slick-prev {
  left: 10px; }
  .slick-prev__arrow {
    transform: translate(100%, 100%) rotate(45deg); }
.slick-dots {
  margin-top: 25px; }
  .slick-dots li {
    transform-origin: center;
    margin: 15px;
    width: 15px; }
    .slick-dots li button:before {
      width: 10px; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '';
  background-color: black;
  border-radius: 100%;
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media all and (max-width: 545px) {
  .portfolio h4, .portfolio h3 {
    margin: 0 auto; }
  .portfolio__project {
    text-align: center; }
    .portfolio__project ul {
      text-align: left;
      margin: 0 40px 30px 10px; }
    .portfolio__project a {
      width: 34%; }
      .portfolio__project a:not(:last-child) {
        margin-right: 13%; }
      .portfolio__project a:last-child {
        float: right; }
  .portfolio__project__links {
    float: none;
    display: block;
    margin: 20px auto;
    width: 95%; }

  .slick-slide {
    margin: 0; }

  .games__sample {
    width: 100%;
    max-height: 31%;
    overflow: hidden; }
    .games__sample__links {
      width: 40%;
      margin-left: 10%;
      float: left;
      display: inline-block; }
    .games__sample a:not(:last-child), .games__sample a:last-child {
      display: block;
      float: left;
      width: 100%;
      margin-right: 0; }
    .games__sample img {
      width: 40%;
      float: right; } }

/*# sourceMappingURL=styles.css.map */
