@import 'fonts';

body {
  margin: 0;
  background-color: grey;
}

#pt {
  width: 100vw; 
  height: 100vh;
  filter: blur(1px);
  position: fixed;
  top: 0;
  z-index: -1;
}

#mouse {
  position: fixed;
  left: 50%;
  top: 0;
  // transition: transform 2s;
}

#hero-scroll-area {
  height: 100vh;
}


.intro {
  text-align: center;
  color: white;height: 100vh;
  z-index: 100;
  font-family: 'casperregular';
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 500px;
  &__brand, &__description {
    letter-spacing: 0.06em;
    opacity: 0;
    display: inline-block;
    position: relative;
  }

  &__brand {

  }
  &__icons {
    opacity: 0;
  }
  &__icons__description {
    display: block;
  }
}