@import 'fonts';

$max-width: 700px;

$primaryTextColor: white;
$text-grey: darken(white, 10);
$link-underline-color: #09f7e5;
$bg-anchor-color: #96bfed;


%vertical-center-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll-invitation {
  width: 80px;
  height: 80px;
  text-align: center;
  padding-top: 15px;
  z-index: 200;
  position: static;
  margin: 0 auto;
  margin-top: 25px;
  transition: transform 1s ease-out;

  &-arrow {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    transform: translate(80%, 50%) rotate(45deg);
    width: 30px;
    height: 30px;
  }
}

@mixin resp_maxw( $width ) {
  @media all and ( max-width: $width ) {
    @content;
  }
}

body {
  margin: 0;
  background-color: grey;
}


@import 'hero';
@import 'intro';
@import 'profile-icons';
@import 'about';
@import 'cta';
@import 'dots-slick-theme';
@import 'portfolio';