.about 
  .about-wrapper
    .about__paragraph
      //- p Dreamer. Builder. Entrepeneur. Fast typer. Whether you're structuring databases, writing robust back-ends, developing user experiences, or just generally staring at computers all day long, you've come to the right place. 


      p I've worked as a front-end developer for <a href="#">14Four</a>. 

      p 

      p I'm the author of twitter bots <a href="#">@city_timestamps</a> and <a href="#">@city_sunsets</a>.

      p I compose <a href="#">music, instruments, and effects</a> in <a href="#">SuperCollider</a>, a programming language for audio synthesis. 

