.about 
  .about-wrapper
    .about__paragraph
      //- p Dreamer. Builder. Entrepeneur. Fast typer. Whether you're structuring databases, writing robust back-ends, developing user experiences, or just generally staring at computers all day long, you've come to the right place. 


      p I've worked as a front-end developer for <a href="#">14Four</a>. 

      p I make Rails <a href="#">web apps</a> and JavaScript <a href="#">browser games</a>.

      p I build <a href="#">Twitter bots</a> and <a href="#">compose music</a> in <a href="#">SuperCollider</a>, a programming language for audio synthesis. 

