.about 
  .about-wrapper
    .about__paragraph


      p I've worked as a front-end developer for <a href="http://www.14four.com/">14Four</a>. 

      p I make Rails <a class="scroll-to-portfolio" href="#">web apps</a> and JavaScript <a class="scroll-to-portfolio" href="#">browser games</a>.

      p I build <a href="https://twitter.com/city_timestamps">Twitter</a> <a href="https://twitter.com/city_suntimes">bots</a> and compose music in <a href="http://supercollider.github.io/">SuperCollider</a>, a programming language for audio synthesis.

  
