.about 
  .about-wrapper
    .about__paragraph
      //- p Dreamer. Builder. Entrepeneur. Fast typer. Whether you're structuring databases, writing robust back-ends, developing user experiences, or just generally staring at computers all day long, you've come to the right place. 


      p I've worked as a front-end developer for <a href="http://www.14four.com/">14Four</a>. 

      p I make Rails <a class="scroll-to-portfolio" href="#">web apps</a> and JavaScript <a class="scroll-to-portfolio" href="#">browser games</a>.

      p I build <a href="https://twitter.com/city_timestamps">Twitter bots</a> and <a href="https://fields-for.bandcamp.com/">compose music</a> in <a href="http://supercollider.github.io/">SuperCollider</a>, a programming language for audio synthesis. 
      
  .scroll-invitation
    .scroll-invitation-arrow
  
