head 
  title matt hinea dot info

  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(charset="UTF-8")

  link(rel="stylesheet" href="css/slick.css")
  link(rel="stylesheet" href="css/styles.css")

  //- jQuery
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")

  //- jQuery Easing
  script(src="js/jquery.easing.1.3.js")

  //- GSAP
  script(src="js/TweenMax.min.js")

  //- Pt.js
  script(src="js/pt.js")

  //- Waypoints
  script(src="js/jquery.waypoints.min.js")

  //- Slick
  script(src="js/slick.min.js")
  

  script(src="https://use.fontawesome.com/5a0f620669.js")

body.index
  include hero
  include intro
  include profile-icons
  include about
  include projects.html
  include carousel-arrows
  include cta

  script(src="js/background.js")
  script(src="js/main.js")
  script(src="js/portfolio.js")
  script(src="js/scrollArrows.js")