head 
  title Learning Pt.js
  link(rel="stylesheet" href="css/styles.css")

  //- jQuery
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")

  //- GSAP
  script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")

  //- Pt.js
  script(src="js/pt.js")

  //- Waypoints
  script(src="js/jquery.waypoints.min.js")

  script(src="https://use.fontawesome.com/5a0f620669.js")

body
  include hero
  include intro

  script(src="js/vectorAdd.js")
  script(src="js/main.js")
