
.intro
  .intro-wrapper
    h1.intro__brand Matt Hinea
    p.intro__description I'm a web developer based in Spokane, Washington

    .intro__icons-wrapper
      .intro__icons
        a(href="https://github.com/mnd-dsgn") 
          i(aria-hidden="true").fa.fa-github.fa-3x
        a(href="https://www.linkedin.com/in/matt-hinea") 
          i(aria-hidden="true").fa.fa-linkedin-square.fa-3x
        a(href="https://medium.com/@hinea") 
          i(aria-hidden="true").fa.fa-medium.fa-3x
        br
        a(href="http://www.last.fm/user/musicismylief") 
          i(aria-hidden="true").fa.fa-lastfm.fa-3x
        a(href="https://www.goodreads.com/user/show/4593453-matthew-hinea") 
          i(aria-hidden="true").fa.fa-book.fa-3x
        a(href="https://www.strava.com/athletes/3642630") 
          i(aria-hidden="true").fa.fa-bicycle.fa-3x
        a(href="http://carroway.bandcamp.com/")
          .fa
            include bandcamp_logo
      p.intro__icons__text (follow me online)
