.intro
  .intro-wrapper
    h1.intro__brand Matt Hinea
    p.intro__description I'm a web developer based in Spokane, Washington

  .intro__icons-wrapper
    .intro__icons__links
      a(href="https://github.com/mnd-dsgn") 
        i(aria-hidden="true").fa.fa-github.fa-3x
      a(href="https://www.linkedin.com/in/matt-hinea") 
        i(aria-hidden="true").fa.fa-linkedin-square.fa-3x
      br
      a(href="http://stackoverflow.com/users/6432429/matthew-hinea?tab=profile")
        i(aria-hidden="true").fa.fa-stack-overflow.fa-3x
      a(href="https://medium.com/@hinea")
        i(aria-hidden="true").fa.fa-medium.fa-3x
      a(href="http://www.last.fm/user/musicismylief") 
        i(aria-hidden="true").fa.fa-lastfm.fa-3x
    p.intro__icons__text (follow me online)
