head 
  title matt hinea dot info

  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  meta(charset="UTF-8")

  link(rel="stylesheet" href="css/slick.css")
  link(rel="stylesheet" href="css/slick-theme.css")
  link(rel="stylesheet" href="css/styles.css")

  //- jQuery
  script(src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")

  //- GSAP
  //- script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
  script(src="js/TweenMax.min.js")

  //- Pt.js
  script(src="js/pt.js")

  //- Waypoints
  script(src="js/jquery.waypoints.min.js")

  //- Font Awesome
  script(src="https://use.fontawesome.com/5a0f620669.js")

body#portfolio

  //- #pt
  //- #mouse
  include projects.html
  .slick-next
    .slick-next__arrow
  .slick-prev
    .slick-prev__arrow


  script(src="js/slick.min.js")
  //- script(src="js/background.js")
  script(src="js/portfolio.js")
  
